{extend name="layout/tpl" /}

{block name="title"}授权{/block}

{block name="content"}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>节点列表</legend>
</fieldset>
<div class="layui-form">
    <ul id="treeDemo" class="ztree"></ul>
</div>
{/block}

{block name="footerjs"}
<script type="text/javascript" src="/backend/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/backend/js/jquery.ztree.excheck.min.js"></script>
<script>
    var setting = {
        check: {
            enable: true,
            chkDisabledInherit: true
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };
    var rules = {php}echo $rules;{/php};
    var zNodes = rules;
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
</script>
{/block}